.weather-geo-details {
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaaaaa;

  &__location {
    font-size: large;
    font-weight: 600;
  }

  &__datetime {
    display: flex;
    flex-direction: column;

    &_date {
      color: #636363;
    }

    &_time {
      text-align: end;
      font-weight: 600;
    }
  }
}
